@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #af67e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) fixed;
  background: linear-gradient(#af67e9, #6565e7) fixed;
  font-size: 0.75em;
  font-family: 'Kumbh Sans', sans-serif;
}

main {
  background-color: white;
  border-radius: 1.5em;
  padding: 0 2em 5em 2em;
  width: 85vw;
  -webkit-box-shadow: 0 0.75em 2.5em #4a4b5e;
          box-shadow: 0 0.75em 2.5em #4a4b5e;
  margin: 12em auto 10em auto;
}

@media screen and (min-width: 1220px) {
  main {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    position: absolute;
    height: 60vh;
    max-width: 992px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template: auto / 1fr 1fr;
  }
}

main .box-wrapper {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2em;
  width: 2em;
  position: relative;
  z-index: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 1220px) {
  main .box-wrapper {
    position: absolute;
    left: 20%;
  }
}

main .box-wrapper .box-illustration {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: absolute;
  top: -300%;
  right: -20%;
}

@media screen and (min-width: 1220px) {
  main .box-wrapper .box-illustration {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -130%;
    right: 480%;
  }
}

main .main-graphic {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  height: 10em;
  width: 240px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 1220px) {
  main .main-graphic {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

main .main-graphic .main-illustration {
  width: 240px;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (min-width: 1220px) {
  main .main-graphic .main-illustration {
    width: 472px;
    top: 50%;
    left: 30%;
  }
}

main .main-graphic .shadow-illustration {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1220px) {
  main .main-graphic .shadow-illustration {
    top: 35%;
    left: -20%;
  }
}

main .faq {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 1220px) {
  main .faq {
    padding-right: 9em;
  }
}

main .faq .accordion-title {
  color: #1d1e35;
  background-color: white;
  font-size: 1.15em;
  border-style: none;
  padding: 1em 0 0.5em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

main .faq .accordion-title:hover {
  color: #f47c57;
}

@media screen and (min-width: 1220px) {
  main .faq .accordion-title {
    font-size: 1.25em;
    padding: 1em 0 1em 0;
  }
}

main .faq .accordion-panel {
  display: none;
  overflow: hidden;
  padding: 0.5em 0 1em 0;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 1220px) {
  main .faq .accordion-panel {
    padding: 0.75em 0 1.5em 0;
  }
}

main .faq .divider {
  display: block;
  background-color: #e7e7e9;
  height: 1px;
  width: 100%;
  margin-top: 5px;
}

main .faq .active {
  font-weight: 700;
}

main .faq .active:hover {
  color: #1d1e35;
}

main .faq p {
  color: #787887;
}

h1 {
  color: #1d1e35;
  font-size: 2.75em;
  text-align: center;
  padding: 0 0 0.5em 0;
}

@media screen and (min-width: 1220px) {
  h1 {
    text-align: left;
    padding: 0.5em 0 1em 0;
  }
}

.attribution {
  color: #1d1e35;
  opacity: .65;
  text-align: center;
  width: 80vw;
  padding-top: 1em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (min-width: 1220px) {
  .attribution {
    top: 90%;
  }
}

.attribution a {
  color: #af67e9;
}

.attribution a:hover, .attribution a:focus {
  color: #6565e7;
}
/*# sourceMappingURL=style.css.map */