@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $soft-violet;
    background: linear-gradient($soft-violet, $soft-blue) fixed;
    font-size: 0.75em;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    background-color: white;
    border-radius: 1.5em;
    padding: 0 2em 5em 2em;
    width: 85vw;
    box-shadow: 0 .75em 2.5em $very-dark-grayish-blue;
    margin: 12em auto 10em auto;

    .main-graphic {
        height: 10em;
        width: 240px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .main-illustration {
            width: 240px;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .box-illustration {
            transform: scale(.5);
            position: absolute;
            top: -22%;
            left: -21%;
            z-index: 2;
        }

        .shadow-illustration {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .accordion-title {
        color: $dark-blue;
        background-color: white;
        font-size: 1.15em;
        border-style: none;
        padding: 1em 0 0.5em 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
/* FIX -- hover state remains after closing the accordion, until you click elsewhere */
        /*&:hover, &:focus {
            color: $soft-red;
        }*/
    }

    .accordion-panel {
        display: none;
        overflow: hidden;
        padding: 0.5em 0 1em 0;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .divider {
        display: block;
        background-color: $light-grayish-blue;
        height: 1px;
        width: 100%;
        margin-top: 5px;
    }

    .active {
        font-weight: 700;

        &:hover, &:focus {
            color: $dark-blue;
        }
    }

    p {
        color: $dark-grayish-blue;
    }
}

h1 {
    color: $dark-blue;
    font-size: 2.75em;
    text-align: center;
    padding: 0.25em 0 0.5em 0;
}

.attribution {
    color: $dark-blue;
    opacity: .65;
    text-align: center;
    width: 80vw;
    padding-top: 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    a {
        color: $soft-violet;

        &:hover, &:focus {
            color: $soft-blue;
        }
    }
}